server {
    listen 80;
    listen 443 ssl;
    server_name 192.168.56.101;

    location / {

ProxyPass "/"  "http://192.168.56.101:8008/sample"
ProxyPassReverse "/"  "http://192.168.56.101:8008/sample"

 }
}