<!DOCTYPE html>
<html>
<head>
    <title>Street Fighter en {{ ansible_hostname }} </title>
    <style>
        body {
            background-image: url('/home/ansible/TallerFebrero2024/street.png');
            background-size: cover;
            color: white;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h1>Bienvenido al mundo de Street Fighter</h1>
    <p> Mi nombre es {{ ansible_fqdn }}
    <p> Nuestro servidor esta en la distribucion {{ ansible_distribution }} version {{ ansible_distribution_version }}
    <p> Nuestra IPV4 es {{ ansible_all_ipv4_addresses[1] }}
    <p>¡Prepárate para la batalla!</p>
    <p> La fecha de hoy es {{ ansible_date_time.date }}
    <p>Selecciona tu luchador favorito y lucha por la victoria.</p>
    <select> 
    <option> {{ AUTOR }} </option>
    <option> {{ GRUPO_MUSICAL }} </option>
    </select>
    <p>¡Que comience el combate!</p>
    
</body>
</html>